
body {
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(ip.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: large;
    font-family: "Lato", sans-serif;
    font-weight: bold;
      font-family: "BBH Hegarty", sans-serif;
}

.hero h1 {
    width: 150px;
    height: 150px;
    object-fit: fill;
    border-radius: 100%;
    border: 4px  solid #3a3;
}

.h {
    color: white;
}

.relo, button {
    border-radius: 100px;
    border: 100px;
    background-color: #3a3;
}

.txt {
    border-radius: 100px;
    border: 100px;
    background-color: #3a3;
}
